
.work-pull {
  display: flex;
  flex-direction: row;
}
.workpull-counter {
  height: 50px;
  width: auto;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 12px;
  border-radius: 15px;
  background: #e0e0e0;
  
  margin-right: 10px;
}
.workpull-counter .counter-title,
.workpull-counter .counter {
  margin-top: 10px;
  margin-right: 10px;
  text-transform: uppercase;
}

.workpull-counter:hover{
  box-shadow: 10px 10px 13px #acacac,
  -10px -10px 13px #ffffff;
  background-color: #cc1a44;
  color:#ffffff

}

.application-btn .app-btn {
  float: right;
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
  border-radius: 20px;
  margin-left: 5px;
  padding: 8px;
}
.application-btn .app-btn:hover {
  background-color: white;
  color: black;
  box-shadow: 1px 3px 5px rgb(100, 92, 92);
}
.applicant-id {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 6px;
  text-decoration: none;
  border-radius: 4px;
}
