<div class="agent-info-main-container">
  <h2>Agent Name : Debora Kurata</h2>
  <!-- <hr width="300" /> -->
  <div class="heading my-3">
    <h3 class="text-center">Agent Summary</h3>
  </div>
  <hr />
  <div class="summary-box">
    <!-- <div class="row">
      <div class="col-6">
        <h5>Agent ID</h5>
      </div>
      <div class="col-6">
        <h5>Agent Code</h5>
      </div>
    </div>
    <div class="row">
        <div class="col-6">09</div>
        <div class="col-6">5678</div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-6">
          <h5>Trading Name</h5>
        </div>
        <div class="col-6">
          <h5>Agent Status</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-6">Debora Kurata Pvt Ltd</div>
        <div class="col-6">Live</div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-6">
          <h5>Client Id</h5>
        </div>
        <div class="col-6">
          <h5>Contact Name</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-6">D7654gfd</div>
        <div class="col-6">Kurata</div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-6">
          <h5>Company Name </h5>
        </div>
        <div class="col-6">
          <h5>Email</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-6">Kurata Pvt. Ltd.</div>
        <div class="col-6">kurata[at]gmail.com</div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-6">
          <h5>Company Number </h5>
        </div>
        <div class="col-6">
          <h5>Phone</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-6">678</div>
        <div class="col-6">110 45674-76543</div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-6">
          <h5>Company Type </h5>
        </div>
        <div class="col-6">
          <h5>Register date</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-6">Retension</div>
        <div class="col-6">01-12-2018</div>
    </div> -->
    <table>
        <tr>
            <th>Agent Id</th>
            <td>78</td>
            <th>Agent Code</th>
            <td>5678</td>
        </tr>
        <tr>
            <th>Trading Name </th>
            <td>Kurata Infotech</td>
            <th>Agent Status</th>
            <td>Live</td>
        </tr>
        <tr>
            <th>Client Id </th>
            <td>ghjk67fghj567fghj5678g678hjk</td>
            <th>Contact Name </th>
            <td>Kurata</td>
        </tr>
        <tr>
            <th>Company Name </th>
            <td>Let Alliance </td>
            <th>Email </th>
            <td>letalliance[at]support.com</td>
        </tr>
        <tr>
            <th>Company Number </th>
            <td>011 54253-67892</td>
            <th>Phone </th>
            <td>011 67823-54345</td>
        </tr>
        <tr>
            <th>Company Type </th>
            <td>Retaintion </td>
            <th>Register Date </th>
            <td>01-12-2012</td>
        </tr>
    </table>
  </div>
  <hr>
</div>
