.app-details-main-container {
  display: flex;
  flex-direction: column;
}
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.header-container .fun-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.app-image {
  width: 200px;
  height: 80px;
}
.fun-buttons .fun-btn {
  height: fit-content;
  width: fit-content;
  margin-left: 10px;
  border-radius: 50px;
  color: white;
  background-color: black;
  padding: 8px;
  font-size: 12px;
  
}
.fun-buttons .fun-btn:hover {
  background-color: white;
  color: black;
  box-shadow: 1px 2px 5px black;
}
.fun-btn {
  width: 30px;
  height: 30px;
  border: 1px solid #b4abab;
  background-color: #eeee;
  border-radius: 50%;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  padding: 6px;
}
.fun-btn:hover {
  border: 1px solid #eeee;
  background-color: #ffff;
}
.alert-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.data-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.data-container .left-container {
  width: 75%;
  left: 0;
  display: flex;
  flex-direction: column;
}
.data-container .right-container {
  width: 24%;
  display: flex;
  flex-direction: column;
}
.refresh-section {
  display: flex;
  float: right;
}
.refresh-section .refresh-img {
  width: 15px;
  margin-left: 8px;
}
.refresh-section h6{
    font-style: italic;
}
table{
    /* border:0px; */
    width: 100%;
    text-align: start;
}
table tr th, table tr td{
    width: 200px;
    margin:15px;
    padding: 12px;
}
.enable-hover:hover{
    background-color: rgba(181, 173, 181, 0.203);
}
.pending{
  background-color: rgb(245, 211, 20);
  color: #fff;
  width: 100px;
  height: fit-content;
  border-radius: 20px;
  padding: 6px;
  font-weight: 500;
  text-align: center;
}
.completed{
  background-color: rgb(147, 232, 20);
  color: #fff;
  width: 100px;
  height: fit-content;
  border-radius: 20px;
  padding: 6px;
  font-weight: 500;
  text-align: center;
}
.high-risk{
  background-color: rgb(203, 9, 9);
  color: #fff;
  width:100px;
  height: fit-content;
  border-radius: 20px;
  padding: 6px;
  font-weight: 500;
  text-align: center;
}
.conclusion{
  display: flex;
  flex-direction: row;
}
.customer-details ,.property-details{
  border: 1px solid #dad3d3;
  border-radius: 7px;
  width: 100%;
  padding: 15px;
}
.customer-details:hover ,.property-details:hover{
  box-shadow: 1px 2px 5px #a3a3a4;;
}