<div class="app-details-main-container">
  <div class="header-container">
    <h3>Application ID : 678987</h3>
    <img
      src="../../../../assets/Images/LetAllianceLogo.png"
      alt=""
      srcset=""
      class="app-image"
    />
    <div class="fun-buttons">
      <button class="fun-btn">UPDATE APPLICATION DATA</button>
      <button class="fun-btn">UPLOAD DOCUMENT</button>
      <button class="fun-btn">CHANGE PRODUCT</button>
      <button class="fun-btn">ADD NOTE</button>
    </div>
  </div>
  <div class="alert-container">
    <div class="alert alert-danger text-center" role="alert">
      Complete the process again.
    </div>
    <div class="alert alert-warning text-center" role="alert">
      Something went wrong!
    </div>
  </div>
  <div class="data-container">
    <div class="left-container">
      <div class="accordion my-2" id="task">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#task-collapseOne"
              aria-expanded="true"
              aria-controls="panelsStayOpen-collapseOne"
            >
              Task
            </button>
          </h2>
          <div
            id="task-collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="task-headingOne"
          >
            <div class="accordion-body">
              <div class="refresh-section">
                <h6>Last Updated: 07/05/2024 08:20 BST</h6>
                <div
                  class="fun-btn"
                  data-bs-toggle="tooltip"
                  data-bs-placement="left"
                  title="Refresh"
                >
                  <img
                    src="../../../../assets/refresh.svg"
                    width="20"
                    alt=""
                    srcset=""
                  />
                </div>
              </div>
              <div class="task-data">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th style="width: 30px">#</th>
                      <th>Task Name</th>
                      <th>Assigned User</th>
                      <th>Assigned On</th>
                      <th>Due Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td style="width: 30px">1</td>
                      <td>xyz</td>
                      <td>Jhon</td>
                      <td>12/01/2024</td>
                      <td>02/04/2024</td>
                    </tr>
                    <tr>
                      <td style="width: 30px">2</td>
                      <td>abc</td>
                      <td>Tempa</td>
                      <td>12/01/2024</td>
                      <td>02/04/2024</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion my-2" id="rtr">
        <div class="accordion-item">
          <h2 class="accordion-header" id="rtr-headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#rtr-collapseOne"
              aria-expanded="true"
              aria-controls="panelsStayOpen-collapseOne"
            >
              Right to Rent
            </button>
          </h2>
          <div
            id="rtr-collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="rtr-headingOne"
          >
            <div class="accordion-body">
              <div class="rtr-heading">
                <div class="pending">Pending</div>
              </div>
              <table>
                <tr class="enable-hover">
                  <th>Nationality</th>
                  <td>American</td>
                </tr>
                <tr class="enable-hover">
                  <th>Document 1 Type</th>
                  <td></td>
                </tr>
                <tr class="enable-hover">
                  <th>Document 1 Description</th>
                  <td></td>
                </tr>
                <tr class="enable-hover">
                  <th>Document Validity</th>
                  <td></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion my-2" id="tenant-info">
        <div class="accordion-item">
          <h2 class="accordion-header" id="tenant-info-headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#tenant-info-collapseOne"
              aria-expanded="true"
              aria-controls="panelsStayOpen-collapseOne"
            >
              Tenant Information
            </button>
          </h2>
          <div
            id="tenant-info-collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="tenant-info-headingOne"
          >
            <div class="accordion-body">
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingZero">
                    <button
                      class="accordion-button"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseZero"
                      aria-expanded="true"
                      aria-controls="collapseZero"
                    >
                      DETAILS
                    </button>
                  </h2>
                  <div
                    id="collapseZero"
                    class="accordion-collapse collapse show"
                    aria-labelledby="headingZero"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body">
                      <table>
                        <tr class="enable-hover">
                          <th>Full Name</th>
                          <td>Miss Kurata Debora</td>
                          <th>Date of Birth</th>
                          <td>01/01/1995</td>
                          <th>Applicant Type</th>
                          <td>GUARANTOR</td>
                        </tr>
                        <tr class="enable-hover">
                          <th>Current Address</th>
                          <td colspan="5">
                            194, New town, Orane, England, 9098
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button
                      class="accordion-button"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseOne"
                      aria-expanded="true"
                      aria-controls="collapseOne"
                    >
                      MORE DETAILS
                    </button>
                  </h2>
                  <div
                    id="collapseOne"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body">
                      <table>
                        <tr class="enable-hover">
                          <th>Title</th>
                          <td>Mrs</td>
                          <th>Name</th>
                          <td>Kurata</td>
                          <th>Date of Birth</th>
                          <td>01/01/2001</td>
                          <th>Application Type</th>
                          <td>LEAD_TENANT</td>
                        </tr>
                        <tr class="enable-hover">
                          <th>Bank Validated</th>
                          <td><div class="high-risk">Invalid</div></td>
                          <th>Account Number</th>
                          <td>587646874341</td>
                          <th>Sort Code</th>
                          <td>2aa</td>
                          <th>Referencing Bank Data</th>
                          <td>N/A</td>
                        </tr>
                        <tr class="enable-hover">
                          <th>Residential Status</th>
                          <td>HOMEOWNER</td>
                          <th>Financial Status</th>
                          <td>Kurata</td>
                          <th>Income to Rent Ratio</th>
                          <td>4.55</td>
                          <th>Gross Annual Income</th>
                          <td>£123.14</td>
                        </tr>
                        <tr class="enable-hover">
                          <th>Share of Rent</th>
                          <td>500.00</td>
                          <th>Maximum Rent Affordability</th>
                          <td>£1,4343.42</td>
                          <th>Guaranteed By</th>
                          <td>NO</td>
                          <th>Marketing Preferences</th>
                          <td>Yes</td>
                        </tr>
                        <tr class="enable-hover">
                          <th>Adverse Credit</th>
                          <td><div class="completed">No</div></td>
                          <th>Document Last Upload</th>
                          <td colspan="5">14/03/2022 06:08</td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseTwo"
                      aria-expanded="false"
                      aria-controls="collapseTwo"
                    >
                      CONTACT DETAILS
                    </button>
                  </h2>
                  <div
                    id="collapseTwo"
                    class="accordion-collapse collapse show"
                    aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body">
                      <div class="row my-2">
                        <div class="col-md-12">
                          <select value="" id="" class="form-control">
                            <option name="" id="">
                              1, New Town, Gandhinagar, Gujarat
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="row my-2">
                        <div class="col-md-12">
                          <table>
                            <tr class="enable-hover">
                              <th>Move In Date</th>
                              <td>JANUARY 2008</td>
                              <th>Landline Number</th>
                              <td>90981 76545</td>
                              <th>Duration at Address</th>
                              <td>6 Year(s) & 4 Month(s)</td>
                            </tr>
                            <tr class="enable-hover">
                              <th>E-mail</th>
                              <td>test[at]pib-insurance.com</td>
                              <th>Current Address</th>
                              <td colspan="3">
                                1, New Town, Gandhinagar, Gujarat
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseThree"
                      aria-expanded="false"
                      aria-controls="collapseThree"
                    >
                      CATO RESULT
                    </button>
                  </h2>
                  <div
                    id="collapseThree"
                    class="accordion-collapse collapse show"
                    aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body">
                      <table>
                        <tr class="enable-hover">
                          <th>CATO Data Available</th>
                          <td>No</td>
                          <th>Calculation Used</th>
                          <td>N/A</td>
                          <th>Income Shock Used</th>
                          <td>No</td>
                          <th>Net Monthly Income Declared</th>
                          <td>£0.00</td>
                        </tr>
                        <tr class="enable-hover">
                          <th>Min. Net Monthy Income Confirmed</th>
                          <td>£0.00</td>
                          <th>Total Expenditure(inc. rent share)</th>
                          <td>N/A</td>
                          <th>Rent Share Account Used</th>
                          <td>Low</td>
                          <th>Net Monthly Income(Gross to Net)</th>
                          <td>£0.00</td>
                        </tr>
                        <tr class="enable-hover">
                          <th>Essential Expenditure</th>
                          <td>£0.00</td>
                          <th>Credit Commitments</th>
                          <td colspan="5">£0.00</td>
                          <!-- <td></td>
                          <td></td>
                          <td></td>
                          <td></td> -->
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingFour">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseFour"
                      aria-expanded="false"
                      aria-controls="collapseFour"
                    >
                      CREDIT DETAILS
                    </button>
                  </h2>
                  <div
                    id="collapseFour"
                    class="accordion-collapse collapse show"
                    aria-labelledby="headingFour"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body">
                      <table>
                        <tr class="enable-hover">
                          <th>VISTA Score</th>
                          <td>No Score</td>
                          <th>VISTA Score Band</th>
                          <td>0</td>
                          <th>CJJ Disclosed</th>
                          <td>No</td>
                          <th>Number of CCJs</th>
                          <td>0</td>
                        </tr>
                        <tr class="enable-hover">
                          <th>Total Value of CJJ</th>
                          <td>0</td>
                          <th>Date of Latest CJJ</th>
                          <td>N/A</td>
                          <th>Number of Satisfied CJJs</th>
                          <td>0</td>
                          <th>Notices of Correction</th>
                          <td>0</td>
                        </tr>
                        <tr class="enable-hover">
                          <th>TAS</th>
                          <td></td>
                          <th>TAS Band</th>
                          <td></td>
                          <th>Bankrupty/IVA</th>
                          <td colspan="3">No</td>
                        </tr>
                      </table>
                      <table>
                        <thead>
                          <tr>
                            <th></th>
                            <th>Permitted CJJs</th>
                            <th>Permitted CJJ ££</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="enable-hover">
                            <td>Decline</td>
                            <td>0</td>
                            <td>0</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion my-2" id="reference-info">
        <div class="accordion-item">
          <h2 class="accordion-header" id="reference-info-headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#reference-info-collapseOne"
              aria-expanded="true"
              aria-controls="panelsStayOpen-collapseOne"
            >
              Reference Information
            </button>
          </h2>
          <div
            id="reference-info-collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="reference-info-headingOne"
          >
            <div class="accordion-body">
              <h5>Financial Details</h5>
              <table class="table text-center">
                <thead>
                  <tr>
                    <th>Income Term</th>
                    <th>Income Type</th>
                    <th>Company Name</th>
                    <th>Refree Name</th>
                    <th>Refree Position</th>
                    <th>Refree Contact Number</th>
                    <th>Refree Email</th>
                    <th>Confirmation Method</th>
                    <th>Confirmation Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>CURRENT_INCOME</td>
                    <td>EMPLOYED</td>
                    <td>Tech Hub</td>
                    <td>Sunny</td>
                    <td>Senior Software Engineer</td>
                    <td>01234565434</td>
                    <td>sunny[at]test.com</td>
                    <td>Mail</td>
                    <td><div class="pending">Pending</div></td>
                    <td>
                      <a
                        class="email-btn"
                        data-bs-toggle="tooltip"
                        data-bs-placement="right"
                        title="Send Email"
                      >
                        <img
                          src="../../../../assets/email.svg"
                          alt=""
                          srcset=""
                          width="25"
                        />
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <h5>Residential Details</h5>
              <table class="table">
                <thead>
                  <tr>
                    <th>Residential Status</th>
                    <th>Landload/Letting Agent Name</th>
                    <th>Contact Number</th>
                    <th>Email</th>
                    <th>Confirmation Method</th>
                    <th>Confirmation Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>TENANT</td>
                    <td>Nisha</td>
                    <td>01223848384</td>
                    <td>test[at]gmail.com</td>
                    <td>Verbal Reference</td>
                    <td><div class="completed">Completed</div></td>
                    <td>
                      <a
                        class="email-btn"
                        data-bs-toggle="tooltip"
                        data-bs-placement="right"
                        title="Send Email"
                      >
                        <img
                          src="../../../../assets/email.svg"
                          alt=""
                          srcset=""
                          width="25"
                        />
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion my-2" id="agent-info">
        <div class="accordion-item">
          <h2 class="accordion-header" id="agent-info-headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#agent-info-collapseOne"
              aria-expanded="true"
              aria-controls="panelsStayOpen-collapseOne"
            >
              Agent Information
            </button>
          </h2>
          <div
            id="agent-info-collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="agent-info-headingOne"
          >
            <div class="accordion-body">
              <table>
                <tr class="enable-hover">
                  <th>Agent Name</th>
                  <td>Kashim Ali</td>
                  <th>Email</th>
                  <td>ali[at]test.com</td>
                  <th>Mobile Number</th>
                  <td>987656789</td>
                </tr>
                <tr class="enable-hover">
                  <th>Scheme Number</th>
                  <td>765456</td>
                  <th>Prospective Address</th>
                  <td colspan="3">
                    <a routerLink="record" style="text-decoration: none"
                      >104, New Gandhinagar, Gujarat 302010</a
                    >
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion my-2" id="financial-info">
        <div class="accordion-item">
          <h2 class="accordion-header" id="financial-info-headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#financial-info-collapseOne"
              aria-expanded="true"
              aria-controls="panelsStayOpen-collapseOne"
            >
              Financial Information
            </button>
          </h2>
          <div
            id="financial-info-collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="financial-info-headingOne"
          >
            <div class="accordion-body">
              <h6>CURRENT INCOME</h6>
              <div class="employed-box">
                <div class="status my-2">
                  <h6>EMPLOYED</h6>
                  <div class="pending mx-3">Pending</div>
                </div>
                <div class="option-box">
                  <a href="#"
                    ><img
                      src="../../../../assets/email.svg"
                      alt=""
                      width="25"
                    />Send Income Reference Request</a
                  >
                </div>
              </div>
              <div class="data-box">
                <table>
                  <tr>
                    <th>Company Name</th>
                    <th>Contact Name</th>
                    <th>Landline Number</th>
                    <th>E-mail</th>
                  </tr>
                  <tr class="enable-hover">
                    <td>Tech Hub</td>
                    <td>John</td>
                    <td>+1 45254 42532</td>
                    <td>test[at]letalliance.com</td>
                  </tr>
                  <tr>
                    <th>Validation Method</th>
                    <th>Validation URL(If Offline)</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Referencing Bank Data</th>
                  </tr>
                  <tr class="enable-hover">
                    <td>Company House</td>
                    <td>N/A</td>
                    <td>01/01/1936</td>
                    <td>N/A</td>
                    <td><div class="high-risk">Not Opted</div></td>
                  </tr>
                  <tr>
                    <th>Job Title</th>
                    <th>Position Type</th>
                    <th>Employment Type</th>
                    <th>Zero Hour Contract</th>
                    <th>Contract Duration</th>
                  </tr>
                  <tr class="enable-hover">
                    <td>QA</td>
                    <td>QA</td>
                    <td>Permanant Full Time</td>
                    <td>No</td>
                    <td>N/A</td>
                  </tr>
                  <tr>
                    <th>Gross Annual Income</th>
                    <th>OT/Bonus</th>
                    <th>12 Month Income</th>
                    <th>Company Registration Number</th>
                    <th>Country of Employment</th>
                  </tr>
                  <tr class="enable-hover">
                    <td>£0.00</td>
                    <td>£0.00/0.00</td>
                    <td>0</td>
                    <td>3424</td>
                    <td>England</td>
                  </tr>
                  <tr>
                    <th>Net Monthly Income</th>
                    <th>Is Bonus Paid</th>
                    <th>Bonus Frequency</th>
                    <th>Bonus Amount</th>
                    <th>Is Overtime paid</th>
                  </tr>
                  <tr class="enable-hover">
                    <td>£23,543</td>
                    <td>No</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>No</td>
                  </tr>
                  <tr>
                    <th>Overtime Frequency</th>
                    <th>Overtime Amount</th>
                    <th>How salary is paid</th>
                    <th>Is income paid in UK bank account</th>
                    <th>How often is this paid</th>
                  </tr>
                  <tr class="enable-hover">
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>DIRECT_DEBIT</td>
                    <td>Yes</td>
                    <td>MONTHLY</td>
                  </tr>
                  <tr>
                    <th>Payroll Employee Number</th>
                    <th colspan="4">Company Address</th>
                  </tr>
                  <tr class="enable-hover">
                    <td>7907809</td>
                    <td colspan="4">214, Ahmedabad, Gujarat, 382010</td>
                  </tr>
                </table>
                <h5 class="title" style="margin-top: 25px">
                  Employee Referee Feedback
                </h5>
                <hr class="hr" />
                <table>
                  <tr>
                    <th>Employement Start Date</th>
                    <th>Job Title</th>
                    <th>Full/Part Time</th>
                    <th>Permanent/FTC</th>
                    <th>Gross Annual Income</th>
                  </tr>
                  <tr class="enable-hover">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>N/A</td>
                  </tr>
                  <tr>
                    <th>OT/Bonus/Commission</th>
                    <th>Car Allowance/London Weighting</th>
                    <th>Will the employment change</th>
                    <th>Your Name</th>
                    <th>Your Position</th>
                  </tr>
                  <tr class="enable-hover">
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>No</td>
                    <td>xyz</td>
                    <td>SDE I</td>
                  </tr>
                  <tr>
                    <th>Contract End Date</th>
                    <th>Expected employment end date</th>
                    <th>Confirmation Method</th>
                    <th colspan="2">Completed By</th>
                  </tr>
                  <tr class="enable-hover">
                    <td>01/01/2025</td>
                    <td>N/A</td>
                    <td>Phone</td>
                    <td colspan="2">QA</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion my-2" id="other-info">
        <div class="accordion-item">
          <h2 class="accordion-header" id="other-info-headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#other-info-collapseOne"
              aria-expanded="true"
              aria-controls="panelsStayOpen-collapseOne"
            >
              Other Information
            </button>
          </h2>
          <div
            id="other-info-collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="other-info-headingOne"
          >
            <div class="accordion-body">
              <div class="customer-details">
                <h6>CUSTOMER/AGENT DETAILS</h6>
                <table>
                  <tr>
                    <th>Type</th>
                    <th>Agent Name</th>
                    <th>Branch Name</th>
                    <th>Scheme Number</th>
                    <th>Address</th>
                  </tr>
                  <tr class="enable-hover">
                    <td>Belvoir</td>
                    <td>Deboara Kurata</td>
                    <td>Demo Account</td>
                    <td>98767</td>
                    <td>N/A</td>
                  </tr>
                  <tr>
                    <th>Landline Number</th>
                    <th>Mobile Number</th>
                    <th>E-Mail Address</th>
                    <th>Landlord Reference</th>
                    <th>Referencing Process</th>
                  </tr>
                  <tr class="enable-hover">
                    <td>07897 78907</td>
                    <td>012 67890987</td>
                    <td>test.techhub[at].com</td>
                    <td>Yes</td>
                    <td>Legacy(Current V+)</td>
                  </tr>
                  <tr>
                    <th>API Integration</th>
                    <td colspan="9"></td>
                  </tr>
                  <!-- <tr class="enable-hover">
                    
                  </tr> -->
                </table>
              </div>
              <div class="property-details my-1">
                <h6>PROPERTY</h6>
                <table>
                  <tr class="enable-hover">
                    <th>Number of Tenants</th>
                    <td>4</td>
                    <th>Tenancy Term</th>
                    <td>12</td>
                    <th>Total Rent</th>
                    <td>£500.00</td>
                    <th>How is RG Offered</th>
                    <td>NO</td>
                  </tr>
                  <tr class="enable-hover">
                    <th>Tenancy Start Date</th>
                    <td>30/03/2022 01:00 BST</td>
                    <th>Property Let Type</th>
                    <td>LET ONLY</td>
                    <th>Address</th>
                    <td colspan="3">75, Sector 1, Gandhinagar, Gujarat</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right-container">
      <div class="accordion my-2" id="application">
        <div class="accordion-item">
          <h2 class="accordion-header" id="application-headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#application-collapseOne"
              aria-expanded="true"
              aria-controls="panelsStayOpen-collapseOne"
            >
              Application
            </button>
          </h2>
          <div
            id="application-collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="application-headingOne"
          >
            <div class="accordion-body">
              <table>
                <tr>
                  <th>Product</th>
                  <th>Status</th>
                </tr>
                <tr>
                  <td>FULL_REFERENCE</td>
                  <td>
                    <div class="high-risk">High Risk</div>
                  </td>
                </tr>
                <tr>
                  <th>Case Referencing Process</th>
                </tr>
                <tr>
                  <td>Legacy (Current V+)</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion my-2" id="linkedApplication">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#linkedApplication-collapseOne"
              aria-expanded="true"
              aria-controls="panelsStayOpen-collapseOne"
            >
              Linked Application
            </button>
          </h2>
          <div
            id="linkedApplication-collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="linkedApplication-headingOne"
          >
            <div class="accordion-body">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Application ID</th>
                    <th>Tenant/Guarantor Name</th>
                    <th>Tenant Type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1341</td>
                    <td>Karam</td>
                    <td>new</td>
                  </tr>
                  <tr>
                    <td>654</td>
                    <td>Kurata</td>
                    <td>Old</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion my-2" id="related-action">
        <div class="accordion-item">
          <h2 class="accordion-header" id="related-action-headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#related-action-collapseOne"
              aria-expanded="true"
              aria-controls="panelsStayOpen-collapseOne"
            >
              Related Action
            </button>
          </h2>
          <div
            id="related-action-collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="related-action-headingOne"
          >
            <div class="accordion-body">
              <strong>This is the first item's accordion body.</strong> It is
              shown by default, until the collapse plugin adds the appropriate
              classes that we use to style each element. These classes control
              the overall appearance, as well as the showing and hiding via CSS
              transitions. You can modify any of this with custom CSS or
              overriding our default variables. It's also worth noting that just
              about any HTML can go within the <code>.accordion-body</code>,
              though the transition does limit overflow.
            </div>
          </div>
        </div>
      </div>
      <div class="accordion my-2" id="conclusion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="conclusion-headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#conclusion-collapseOne"
              aria-expanded="true"
              aria-controls="panelsStayOpen-collapseOne"
            >
              Conclusion
            </button>
          </h2>
          <div
            id="conclusion-collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="conclusion-headingOne"
          >
            <div class="accordion-body conclusion">
              <div class="status">
                <h5>Status</h5>
                <p>Awaiting further information</p>
              </div>
              <div class="reason mx-2">
                <h5>Reason(s)</h5>
                <p>
                  The application has been placed on hold as we have been unable
                  to complete the referencing despite multiple attempts. If the
                  required information can be provided, the application can be
                  reassessed
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion my-2" id="note">
        <div class="accordion-item">
          <h2 class="accordion-header" id="note-headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#note-collapseOne"
              aria-expanded="true"
              aria-controls="panelsStayOpen-collapseOne"
            >
              Note
            </button>
          </h2>
          <div
            id="note-collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="note-headingOne"
          >
            <div class="accordion-body">
              <strong>This is the first item's accordion body.</strong> It is
              shown by default, until the collapse plugin adds the appropriate
              classes that we use to style each element. These classes control
              the overall appearance, as well as the showing and hiding via CSS
              transitions. You can modify any of this with custom CSS or
              overriding our default variables. It's also worth noting that just
              about any HTML can go within the <code>.accordion-body</code>,
              though the transition does limit overflow.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
