<div class="app-details-main-container">
  <div class="header-container">
    <h3>Application ID : 678987</h3>
    <img
      src="../../../../assets/Images/LetAllianceLogo.png"
      alt=""
      srcset=""
      class="app-image"
    />
    <div class="fun-buttons">
      <button class="fun-btn">UPDATE APPLICATION DATA</button>
      <button class="fun-btn">UPLOAD DOCUMENT</button>
      <button class="fun-btn">CHANGE PRODUCT</button>
      <button class="fun-btn" >ADD NOTE</button>
    </div>
  </div>
  <div class="alert-container">
    <div class="alert alert-danger text-center" role="alert">
      Complete the process again.
    </div>
    <div class="alert alert-warning text-center" role="alert">
      Something went wrong!
    </div>
  </div>
  <div class="data-container">
    <div class="left-container">
      <div class="accordion my-2" id="task">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#task-collapseOne"
              aria-expanded="true"
              aria-controls="panelsStayOpen-collapseOne"
            >
              Task
            </button>
          </h2>
          <div
            id="task-collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="task-headingOne"
          >
            <div class="accordion-body">
              <div class="refresh-section">
                <h6>Last Updated: 07/05/2024 08:20 BST</h6>
                <div class="fun-btn" data-bs-toggle="tooltip" data-bs-placement="left" title="Refresh">
                    <img src="../../../../assets/refresh.svg" width="20" alt="" srcset="" />
                  </div>
              </div>
              <div class="task-data">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th style="width: 30px;">#</th>
                      <th>Task Name</th>
                      <th>Assigned User</th>
                      <th>Assigned On</th>
                      <th>Due Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <td style="width: 30px;">1</td>
                        <td>xyz</td>
                        <td>Jhon</td>
                        <td>12/01/2024</td>
                        <td>02/04/2024</td>
                    </tr>
                    <tr>
                        <td style="width: 30px;">2</td>
                        <td>abc</td>
                        <td>Tempa</td>
                        <td>12/01/2024</td>
                        <td>02/04/2024</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion my-2" id="tenant-info">
        <div class="accordion-item">
          <h2 class="accordion-header" id="tenant-info-headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#tenant-info-collapseOne"
              aria-expanded="true"
              aria-controls="panelsStayOpen-collapseOne"
            >
              Tenant Information
            </button>
          </h2>
          <div
            id="tenant-info-collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="tenant-info-headingOne"
          >
            <div class="accordion-body">
              <table>
                <tr class="enable-hover">
                    <th>Full Name </th>
                    <td>Miss Kurata Debora</td>
                    <th>Date of Birth</th>
                    <td>01/01/1995</td>
                    <th>Applicant Type</th>
                    <td>GUARANTOR</td>
                </tr>
                <tr class="enable-hover">
                    <th>Current Address</th>
                    <td>194, New town, Orane, England, 9098</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion my-2" id="reference-info">
        <div class="accordion-item">
          <h2 class="accordion-header" id="reference-info-headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#reference-info-collapseOne"
              aria-expanded="true"
              aria-controls="panelsStayOpen-collapseOne"
            >
              Reference Information
            </button>
          </h2>
          <div
            id="reference-info-collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="reference-info-headingOne"
          >
            <div class="accordion-body">
             <h5>Financial Details</h5>
             <table class="table">
                <thead>
                    <tr>
                        <th>Income Term</th>
                        <th>Income Type</th>
                        <th>Company Name </th>
                        <th>Refree Name</th>
                        <th>Refree Position</th>
                        <th>Refree Contact Number</th>
                        <th>Refree Email</th>
                        <th>Confirmation Method</th>
                        <th>Confirmation Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>CURRENT_INCOME</td>
                        <td>EMPLOYED</td>
                        <td>Tech Hub</td>
                        <td>Sunny</td>
                        <td>Senior Software Engineer</td>
                        <td>01234565434</td>
                        <td>sunny[at]test.com</td>
                        <td>Mail</td>
                        <td><div class="pending">Pending</div></td>
                        <td>
                             <a class="email-btn" data-bs-toggle="tooltip" data-bs-placement="right" title="Send Email">
                            <img src="../../../../assets/email.svg" alt="" srcset="" width="25" >
                        </a>
                        </td>
                    </tr>
                </tbody>
             </table>
             <h5>Residential Details</h5>
             <table class="table">
                <thead>
                    <tr>
                        <th>Residential Status</th>
                        <th>Landload/Letting Agent Name</th>
                        <th>Contact Number</th>
                        <th>Email</th>
                        <th>Confirmation Method</th>
                        <th>Confirmation Status</th>
                        <th>Action</th>
                       
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>TENANT</td>
                        <td>Nisha</td>
                        <td>01223848384</td>
                        <td>test[at]gmail.com</td>
                        <td>Verbal Reference</td>
                        <td><div class="completed">Completed</div></td>
                        <td>
                            <a class="email-btn" data-bs-toggle="tooltip" data-bs-placement="right" title="Send Email">
                            <img src="../../../../assets/email.svg" alt="" srcset="" width="25" >
                        </a>
                        </td>
                    </tr>
                </tbody>
             </table>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion my-2" id="agent-info">
        <div class="accordion-item">
          <h2 class="accordion-header" id="agent-info-headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#agent-info-collapseOne"
              aria-expanded="true"
              aria-controls="panelsStayOpen-collapseOne"
            >
              Agent Information
            </button>
          </h2>
          <div
            id="agent-info-collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="agent-info-headingOne"
          >
            <div class="accordion-body">
              <table>
                <tr class="enable-hover">
                    <th>Agent Name</th>
                    <td>Kashim Ali</td>
                    <th>Email</th>
                    <td>ali[at]test.com</td>
                    <th>Mobile Number</th>
                    <td>987656789</td>
                </tr>
                <tr class="enable-hover">
                    <th>Scheme Number</th>
                    <td>765456</td>
                    <th>Prospective Address</th>
                    <td><a routerLink="record" style="text-decoration: none;">104, New Gandhinagar</a></td>
                    <td></td>
                    <td></td>
                    
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right-container">
      <div class="accordion my-2" id="application">
        <div class="accordion-item">
          <h2 class="accordion-header" id="application-headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#application-collapseOne"
              aria-expanded="true"
              aria-controls="panelsStayOpen-collapseOne"
            >
              Application
            </button>
          </h2>
          <div
            id="application-collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="application-headingOne"
          >
            <div class="accordion-body">
             <table>
                <tr>
                    <th>Product</th>
                    <th>Status</th>
                </tr>
                <tr>
                    <td>FULL_REFERENCE</td>
                    <td>
                        <div class="high-risk">High Risk</div>
                    </td>
                </tr>
                <tr>
                    <th>Case Referencing Process</th>
                </tr>
                <tr>
                    <td>
                        Legacy (Current V+)
                    </td>
                </tr>
             </table>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion my-2" id="linkedApplication">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#linkedApplication-collapseOne"
              aria-expanded="true"
              aria-controls="panelsStayOpen-collapseOne"
            >
              Linked Application
            </button>
          </h2>
          <div
            id="linkedApplication-collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="linkedApplication-headingOne"
          >
            <div class="accordion-body">
              <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Application ID</th>
                        <th>Tenant/Guarantor Name</th>
                        <th>Tenant Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1341</td>
                        <td>Karam</td>
                        <td>new</td>
                    </tr>
                    <tr>
                        <td>654</td>
                        <td>Kurata</td>
                        <td>Old</td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion my-2" id="related-action">
        <div class="accordion-item">
          <h2 class="accordion-header" id="related-action-headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#related-action-collapseOne"
              aria-expanded="true"
              aria-controls="panelsStayOpen-collapseOne"
            >
              Related Action
            </button>
          </h2>
          <div
            id="related-action-collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="related-action-headingOne"
          >
            <div class="accordion-body">
              <strong>This is the first item's accordion body.</strong> It is
              shown by default, until the collapse plugin adds the appropriate
              classes that we use to style each element. These classes control
              the overall appearance, as well as the showing and hiding via CSS
              transitions. You can modify any of this with custom CSS or
              overriding our default variables. It's also worth noting that just
              about any HTML can go within the <code>.accordion-body</code>,
              though the transition does limit overflow.
            </div>
          </div>
        </div>
      </div>
      <div class="accordion my-2" id="conclusion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="conclusion-headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#conclusion-collapseOne"
              aria-expanded="true"
              aria-controls="panelsStayOpen-collapseOne"
            >
              Conclusion
            </button>
          </h2>
          <div
            id="conclusion-collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="conclusion-headingOne"
          >
            <div class="accordion-body conclusion">
              <div class="status">
                <h5>Status</h5>
                <p>Awaiting further information</p>
              </div>
              <div class="reason mx-2">
                <h5>Reason(s)</h5>
                <p>The application has been placed on hold as we have been unable to complete the referencing despite multiple attempts. If the required information can be provided, the application can be reassessed</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion my-2" id="note">
        <div class="accordion-item">
          <h2 class="accordion-header" id="note-headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#note-collapseOne"
              aria-expanded="true"
              aria-controls="panelsStayOpen-collapseOne"
            >
              Note
            </button>
          </h2>
          <div
            id="note-collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="note-headingOne"
          >
            <div class="accordion-body">
              <strong>This is the first item's accordion body.</strong> It is
              shown by default, until the collapse plugin adds the appropriate
              classes that we use to style each element. These classes control
              the overall appearance, as well as the showing and hiding via CSS
              transitions. You can modify any of this with custom CSS or
              overriding our default variables. It's also worth noting that just
              about any HTML can go within the <code>.accordion-body</code>,
              though the transition does limit overflow.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
