<div class="properties-main-container">
  <h4 class="text-center">Properties</h4>
  <div class="search-bar">
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <label for="">Search For</label>
          <input
            type="text"
            class="form-control"
            id="searchQuery"
            placeholder="search here"
          />
        </div>
      </div>
      <div class="col-2 my-4">
        <button class="btn btn-success btn-sm">Search</button>
      </div>
    </div>
  </div>
  <div class="grid-container">
    <table class="table table-hover ">
      <thead>
        <tr>
          <th scope="col">Property Number</th>
          <th scope="col">Property Address</th>
          <th scope="col">Agent Scheme Number</th>
          <th scope="col">Agent Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>43234</td>
          <td>New Town,Gandhinagar</td>
          <td>678987</td>
          <td>Ema Doe</td>
        </tr>
        <tr>
          <td>43234</td>
          <td>New Town,Gandhinagar</td>
          <td>678987</td>
          <td>Ema Doe</td>
        </tr>
        <tr>
          <td>43234</td>
          <td>New Town,Gandhinagar</td>
          <td>678987</td>
          <td>Ema Doe</td>
        </tr>
      </tbody>
    </table>
   
  </div>
</div>
