<div class="company-info-main-container">
  <div class="title-container">
    <h2>Company Name : Let Alliance</h2>
  </div>
  <div class="card">
    <div class="card-header"><h3>Company Details</h3></div>
    <div class="card-body">
        <table>
            <tr>
                <th>Comapny Name</th>
                <td>Tesco</td>
                <th>Contact Name</th>
                <td>Kurata</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th style="font-size: 22px;">Contact Details</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>Street</th>
                <td>201, Infocity</td>
                <th>City</th>
                <td>Orange</td>
                <th>Postcode</th>
                <td>78987</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>letalliance[at]support.com</td>
                <th>Telephone number</th>
                <td>011 56783-54354</td>
                <th>Mobile number</th>
                <td>+44 78987-67898</td>
            </tr>
            <tr>
                <th style="font-size: 22px;">Preference</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>Turn-around time</th>
                <td>No</td>
                <th>Fee Amount</th>
                <td>7898</td>
                <th>Signed document required</th>
                <td>Yes</td>
            </tr>
             <tr>
                <th>Contact Type</th>
                <th>Reference return type</th>
                <th>Acknowledge Receipt</th>
             </tr>
        </table>
    </div>
  </div>
</div>
